.add-employee-container {
    border: 1px solid maroon;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .add-employee-btn {
        margin-top: 1rem;
        outline: none;
        padding: 0.75rem;
        background: maroon;
        color: #fff;
        border: none;
        border-radius: 3px;
    }
}